body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background-color: #efefef;
  height: 100vh;
}

span[class*="BaseItem"] > span:nth-child(2){
  color: #e99700;
}

div[class*="HeadingItem"] {
  color: green;
  text-decoration: underline;
}

header{
  background-color: orange;
  margin-bottom: 30px;
  height: 0;
}

header h4{
  font-size: 16px !important;
  color: white;
}

th {
  font-size: 14px !important;
  font-weight: normal !important;
  color: green !important;
}